.board {
  border-color: black;
  margin: auto;
  max-width: 70em;
}

table {
  padding: 5px;
  border: 1px solid;
  margin: auto;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
}

tr.row {
  padding: 15px;
  border-top: 1px solid gray;
  text-align: left;
}

td {
  margin: auto;
}

.streak {
  max-width: max-content;
  text-align: center;
}

.submittedToday {
  text-align: center;
}
