.container {
  margin: auto;
  max-width: 50em;
}

.board {
  border-color: black;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  /* margin: auto; */
  justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.row {
  /* border-bottom: 1px solid gray; */
  text-align: left;
}

th {
  padding: 0.5em;
}

td {
  margin: auto;
  padding: 1em;
}

.streak {
  max-width: max-content;
  text-align: center;
}

.submittedToday {
  text-align: center;
}
