:root {
  --textColor: whitesmoke;
}

.inputContainer {
  /* border-bottom: 1px solid var(--textColor); */
  /* border-radius: 1em; */
  display: flex;
  gap: 1em 1em;
}

.addUsername {
  height: 1.5em;
  color: var(--textColor);
  display: flex;
  gap: 1em;
  align-items: center;
}

.addUsername input[type="text"] {
  padding: 0;
  text-align: left;
  background: transparent;
  border: 0;
  width: 0;
  height: 2rem;
  color: var(--textColor);
  transition: width 0.2s linear;
}

/* .addUsername .errorMessage {
  display: none;
} */

.addUsername button {
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: var(--textColor);
  padding: 0.5rem;
  width: 2rem;
  border: 1px solid var(--textColor);
  border-radius: 0.7rem;
}

/* expand the input whe you hover the div */
.addUsername:hover > input[type="text"] {
  width: 140px;
  border-bottom: 1px solid var(--textColor);
}

.addUsername input[type="text"]:focus {
  outline: none;
  width: 140px;
  border-bottom: 1px solid var(--textColor);
}

.addUsername input[type="text"]:focus > .errorMessage {
  display: inline;
  color: rgb(255, 0, 0);
}
